h1 {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

header {
  height: 25vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  header {
    height: 12vh;
  }
}
