.definitions-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.definitions-container > * {
  width: 100%;
}

.subtitle {
  font-size: 36px;
  text-align: center;
}
