@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/* Start: CSS reset */
html {
  box-sizing: border-box;
  height: 100%
}
*, *::before, *::after {
  box-sizing: inherit;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* End: CSS reset */

html {
  font-family: Cinzel, serif;
}
